/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
body {
  font-size: 1.1em;
  font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
  background-color: #f9f9f9;
}
.title-box {
  background-image: url('../assets/patterns/darkarches.png');
  color: white;
  padding: .5em 0 .5em 0;
}
h1 {
  font-family: "Candela", "RobotoMedium", sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}
.main .breadcrumbs li {
  font-size: .9em;
  text-transform: capitalize;
  margin: 1em 0 1em 0;
}
.main h2 {
  font-size: 1.5em;
  font-family: "Candela", "RobotoMedium", sans-serif;
  color: #2a8ebb;
}
.main h3 {
  font-family: "Candela", "RobotoMedium", sans-serif;
  font-size: 1.3em;
  padding-bottom: .8em;
}
.main form {
  margin-bottom: 3em;
}
