/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
@media screen and (min-width: 801px) {
  body {
    font-size: 1.1em;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    background-color: #f9f9f9;
  }
  .title-box {
    background-image: url('../assets/patterns/darkarches.png');
    color: white;
    padding: .5em 0 .5em 0;
  }
  h1 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
  }
  .main .breadcrumbs li {
    font-size: .9em;
    text-transform: capitalize;
    margin: 1em 0 1em 0;
  }
  .main h2 {
    font-size: 1.5em;
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .main .sn-divs {
    width: 100%;
    margin: auto;
  }
  .main .sn-divs > div {
    width: 33%;
    float: left;
    margin: 2% 2.5% 2% 2.5%;
  }
  .main .sn-divs > div img {
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all .5s ease;
  }
  .main .sn-divs > div img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: all .5s ease;
  }
  .main .sn-divs .left > div,
  .main .sn-divs .right > div {
    margin-bottom: 18%;
  }
  .main .sn-divs p {
    background-color: #403e3c;
    padding: 5px 5px 5px 10px;
    color: #cbcbcb;
  }
}
@media screen and (min-width: 1024px) {
  .ad-vertical {
    margin-bottom: 1.2em;
  }
  .ad-horizontal {
    display: none !important;
  }
}
