/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
@media screen and (max-width: 455px) {
  body {
    font-size: 1.1em;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    background-color: #f9f9f9;
  }
  .title-box {
    background-image: url('../assets/patterns/darkarches.png');
    color: white;
    padding: .5em 0 .5em 0;
  }
  h1 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
  }
  .main .breadcrumbs li {
    font-size: .9em;
    text-transform: capitalize;
    margin: 1em 0 1em 0;
  }
  .main h2 {
    font-size: 1.5em;
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .main h3 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 1.3em;
    padding-bottom: .8em;
  }
  .main .steps {
    width: 100%;
    background-color: #ECECEC;
    padding: 1.2em;
    border-radius: .8em;
    margin-bottom: 4em;
  }
  .main .steps > p {
    display: inline;
    padding-left: 0.6em;
  }
  .main .num-circles {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #403e3c;
    text-align: center;
    padding-top: 4px;
    color: #f4f4f4;
    display: inline-block;
  }
  .main .dl-btn {
    background-color: #a9c627;
    width: 100%;
    border-radius: .5em;
    padding-top: 10px;
    margin-bottom: 1em;
  }
  .main .dl-btn p:first-of-type {
    margin-top: 0.5em;
    text-transform: uppercase;
    color: #f4f4f4;
    font-family: "RobotoMedium", sans-serif;
    font-weight: 600;
  }
  .main .dl-btn p:nth-of-type(2) {
    margin-top: -0.8em;
  }
  .main .floating {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
  @-webkit-keyframes Floating {
    from {
      -webkit-transform: translate(0, 0px);
    }
    65% {
      -webkit-transform: translate(0, 8px);
    }
    to {
      -webkit-transform: translate(0, 0px);
    }
  }
  .main .dl-btn-vsn {
    display: block;
    background-color: #D1D1D1;
    width: 100%;
    border-radius: .5em;
    text-align: center;
    padding-top: .8em;
  }
  .main #dl-versions {
    text-align: left;
    margin: 0 10% 1em 20%;
    padding-bottom: .8em;
  }
  .main #dl-versions li {
    list-style: none;
  }
  .main #dl-versions li img {
    margin-bottom: .4em;
  }
  .main #dl-versions li a {
    padding-left: .5em;
    color: #2a8ebb;
  }
  .main #dl-versions li a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 1023px) {
  .ad-vertical {
    display: none !important;
  }
  .ad-horizontal {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 456px) {
  body {
    font-size: 1.1em;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    background-color: #f9f9f9;
  }
  .title-box {
    background-image: url('../assets/patterns/darkarches.png');
    color: white;
    padding: .5em 0 .5em 0;
  }
  h1 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
  }
  .main .breadcrumbs li {
    font-size: .9em;
    text-transform: capitalize;
    margin: 1em 0 1em 0;
  }
  .main h2 {
    font-size: 1.5em;
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .main h3 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 1.3em;
    padding-bottom: .8em;
  }
  .main section {
    margin-top: 2em;
  }
  .main section a {
    color: black;
  }
  .main .steps {
    /*width: 90%;*/
    background-color: #ECECEC;
    padding: 1.2em;
    border-radius: .8em;
    margin-bottom: 1em;
  }
  .main .steps > p {
    display: inline;
    padding-left: 0.6em;
  }
  .main .num-circles {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #403e3c;
    text-align: center;
    padding-top: 4px;
    color: #f4f4f4;
    display: inline-block;
  }
  .main .dl-btn {
    background-color: #a9c627;
    width: 17em;
    border-radius: .5em;
    padding-top: 10px;
    margin-bottom: 1em;
  }
  .main .dl-btn p:first-of-type {
    margin-top: 0.5em;
    text-transform: uppercase;
    color: #f4f4f4;
    font-family: "RobotoMedium", sans-serif;
  }
  .main .dl-btn p:nth-of-type(2) {
    margin-top: -0.8em;
  }
  .main .floating {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear:;
  }
  @-webkit-keyframes Floating {
    from {
      -webkit-transform: translate(0, 0px);
    }
    65% {
      -webkit-transform: translate(0, 8px);
    }
    to {
      -webkit-transform: translate(0, 0px);
    }
  }
  .main .dl-btn-vsn {
    display: block;
    text-align: center;
    background-color: #D1D1D1;
    width: 20em;
    border-radius: .5em;
    padding-top: 10px;
  }
  .main #dl-versions {
    text-align: left;
    margin-left: 4.2em;
    padding-bottom: .8em;
  }
  .main #dl-versions li {
    list-style: none;
  }
  .main #dl-versions li img {
    margin-bottom: .4em;
  }
  .main #dl-versions li a {
    padding-left: .5em;
    color: #2a8ebb;
  }
  .main #dl-versions li a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1024px) {
  .aside {
    height: 600px;
    margin-bottom: 40px;
  }
  .ad-vertical {
    position: relative;
    margin-left: 1.5em;
  }
  .ad-horizontal {
    display: none !important;
    margin-bottom: 20px;
  }
}
