/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
.accordeon {
  margin-bottom: 3em;
}
.accordeon h3 {
  font-size: 1em;
  padding: .8em;
  margin-bottom: 0;
  font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
  cursor: pointer;
}
.accordeon h3:hover {
  color: #f4f4f4;
  background-color: #2a8ebb;
  transition: all 0.2s ease-in;
}
.accordeon article {
  width: 80%;
  background-color: #ECECEC;
  margin: auto;
  margin-bottom: .8em;
}
.accordeon article div {
  background-color: #f3f3f3;
  padding: 1em;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
}
.accordeon article div p {
  padding: 0;
  margin: 0;
}
