/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
@font-face {
  font-family: "CandelaBold";
  src: url('../assets/fonts/candela/CandelaBold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "CandelaItalic";
  src: url('../assets/fonts/candela/CandelaItalic.otf');
  font-weight: italic;
}
/* ZIN HENA BOKURYU */
@font-face {
  font-family: "ZinHena";
  src: url('../assets/fonts/zinhenaboku/ZinHenaBokuryu-CRF.otf'), url('../assets/fonts/zinhenaboku/ZinHenaBokuryu-CRF.ttf');
  font-weight: normal;
}
/* SEGOE UI */
@font-face {
  font-family: "SegoeRegular";
  src: url('../assets/fonts/segoe_ui/segoe_ui_regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "SegoeLight";
  src: url('../assets/fonts/segoe_ui/segoe_ui_light.ttf');
  font-weight: light;
}
@font-face {
  font-family: "SegoeBold";
  src: url('../assets/fonts/segoe_ui/segoe_ui_bold.ttf'), url('../assets/fonts/segoe_ui/segoe_ui_bold.eot'), url('../assets/fonts/segoe_ui/segoe_ui_bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: "SegoeItalic";
  src: url('../assets/fonts/segoe_ui/segoe_ui_italic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "SegoeSemibold";
  src: url('../assets/fonts/segoe_ui/segoe_ui_semibold.ttf');
  font-weight: semibold;
}
@font-face {
  font-family: "SegoeBoldItalic";
  src: url('../assets/fonts/segoe_ui/segoe_ui_bold_italic.ttf');
  font-weight: bold;
}
/* FORTE */
@font-face {
  font-family: "Forte";
  src: url('../assets/fonts/forte/FORTE.TTF');
  font-weight: normal;
}
/*///// REUSABLE CLASSES ////////*/
.disabled {
  color: #999;
}
.underlined:hover {
  text-decoration: underline;
}
/*/////////UNDER 480px///////////////*/
/*/////// UNDER 559px //////////*/
@media screen and (max-width: 824px) {
  .container {
    font-size: 1.1em;
    font-family: "SegoeRegular", "arial", sans-serif;
    background: #403e3c;
    color: #cbcbcb;
    padding-left: .8em;
    padding-right: .8em;
  }
  .container ul {
    list-style: none;
  }
  .vh-menu {
    display: none;
  }
  #accordions ul {
    background-color: #474644;
    display: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  #accordions ul li a {
    color: #2a8ebb;
  }
  #accordions ul li a:hover {
    text-decoration: underline;
  }
  .sections {
    cursor: pointer;
    border-bottom: solid 1px rgba(142, 142, 142, 0.2);
    padding-bottom: 0.1em;
    padding-top: 0.3em;
  }
  .sectTitles {
    color: #8e8e8e;
    font-family: "SegoeSemibold";
    margin-bottom: .5em;
    padding-top: 1em;
  }
  .vh-links li {
    transition: all .6s ease;
  }
  .vh-links li:hover {
    text-indent: .9em;
    transition: all .6s ease;
  }
  .sn-links {
    display: inline-flex;
    flex-shrink: 0;
    flex-wrap: wrap;
  }
  .sn-links > li {
    padding-left: 1em;
    margin-top: .6em;
  }
  .sn-links > li:first-child {
    padding-left: 0;
  }
  .sn-links > li div:hover {
    border-radius: 100px;
    background-color: #cf0202;
    transition: all .2s ease;
  }
  .ext-links li a {
    transition: all .6s ease;
  }
  .ext-links li:hover {
    text-indent: .9em;
    transition: all .6s ease;
  }
  .wn-links {
    margin-top: 1.2em;
  }
  .wn-links .wn-img {
    display: none;
  }
  .wn-links ul li a {
    color: #cbcbcb;
  }
  .wn-links ul li a:hover,
  .wn-links ul li a :focus {
    text-decoration: underline;
  }
  .columns {
    padding-left: 0;
  }
  .wn-rights {
    clear: both;
    color: #8e8e8e;
    padding-top: 1.5em;
    font-size: .6em;
  }
  .wn-rights p {
    margin-bottom: 0;
    padding-bottom: 1.2em;
  }
}
/*/////////Above 560px/////////*/
/*////////// 481px to 559px ///////////////*/
@media screen and (min-width: 825px) {
  .container {
    max-width: 1920px;
    font-size: 1em;
    font-family: "SegoeRegular", "arial", sans-serif;
    background: #403e3c;
    color: #cbcbcb;
    padding-left: 1.3em;
    padding-right: 1.3em;
  }
  .container ul {
    list-style: none;
  }
  .breadcrumbs a {
    color: #2a8ebb;
  }
  .vh-menu {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .vh-menu > ul {
    padding-right: 1.2em;
    padding-top: 1em;
  }
  .vh-menu > ul span {
    color: #8e8e8e;
    font-family: "SegoeSemibold";
  }
  .vh-menu > ul li a {
    color: #cbcbcb;
  }
  .vh-menu > ul li a:hover,
  .vh-menu > ul li a :focus {
    text-decoration: underline;
  }
  .vh-links {
    display: none;
  }
  .sn-links {
    display: inline-flex;
  }
  .sn-links > li {
    padding-left: .8em;
  }
  .sn-links > li:first-child {
    padding-left: 0;
  }
  .sn-links > li div:hover {
    border-radius: 100px;
    background-color: #cf0202;
    transition: all .2s ease;
  }
  .wn-links {
    float: right;
    padding-top: .7em;
    text-align: right;
  }
  .wn-links .sectTitles {
    display: none;
  }
  .wn-links ul li a {
    color: #cbcbcb;
  }
  .wn-links ul li a:hover,
  .wn-links ul li a :focus {
    text-decoration: underline;
  }
  .wn-rights {
    clear: both;
    text-align: center;
    color: #8e8e8e;
    padding-top: 1.6em;
    font-size: .7em;
  }
  .wn-rights p {
    margin-bottom: 0;
    padding-bottom: 1.2em;
  }
}
