/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
/*////////// 481px to 559px ///////////////*/
@media screen and (min-width: 825px) {
  .container {
    max-width: 1920px;
    font-size: 0.9em;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    background: #403e3c;
    color: #cbcbcb;
    padding-left: 1.3em;
    padding-right: 1.3em;
  }
  .container ul {
    list-style: none;
  }
  .breadcrumbs a {
    color: #2a8ebb;
  }
  .vh-menu {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .vh-menu > ul {
    padding-right: 1.2em;
    padding-top: 1em;
  }
  .vh-menu > ul span {
    color: #8e8e8e;
    font-family: "RobotoMedium", "Segoe UI", "Helvetica", sans-serif;
  }
  .vh-menu > ul li a {
    color: #cbcbcb;
  }
  .vh-menu > ul li a:hover,
  .vh-menu > ul li a :focus {
    text-decoration: underline;
  }
  .vh-links {
    display: none;
  }
  .sn-links {
    display: inline-flex;
  }
  .sn-links > li {
    padding-left: .8em;
  }
  .sn-links > li:first-child {
    padding-left: 0;
  }
  .sn-links > li div:hover {
    border-radius: 100px;
    background-color: #cf0202;
    transition: all .2s ease;
  }
  .wn-links {
    float: right;
    padding-top: .7em;
    text-align: right;
  }
  .wn-links .sectTitles {
    display: none;
  }
  .wn-links ul li a {
    color: #cbcbcb;
  }
  .wn-links ul li a:hover,
  .wn-links ul li a :focus {
    text-decoration: underline;
  }
  .wn-rights {
    clear: both;
    text-align: center;
    color: #8e8e8e;
    padding-top: 1.6em;
    font-size: .8em;
  }
  .wn-rights p {
    margin-bottom: 0;
    padding-bottom: 1.2em;
  }
}
