/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
@font-face {
  font-family: "CandelaBold";
  src: url('../assets/fonts/candela/CandelaBold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "CandelaItalic";
  src: url('../assets/fonts/candela/CandelaItalic.otf');
  font-weight: italic;
}
/* ZIN HENA BOKURYU */
@font-face {
  font-family: "ZinHena";
  src: url('../assets/fonts/zinhenaboku/ZinHenaBokuryu-CRF.otf'), url('../assets/fonts/zinhenaboku/ZinHenaBokuryu-CRF.ttf');
  font-weight: normal;
}
/* SEGOE UI */
@font-face {
  font-family: "SegoeRegular";
  src: url('../assets/fonts/segoe_ui/segoe_ui_regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "SegoeLight";
  src: url('../assets/fonts/segoe_ui/segoe_ui_light.ttf');
  font-weight: light;
}
@font-face {
  font-family: "SegoeBold";
  src: url('../assets/fonts/segoe_ui/segoe_ui_bold.ttf'), url('../assets/fonts/segoe_ui/segoe_ui_bold.eot'), url('../assets/fonts/segoe_ui/segoe_ui_bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: "SegoeItalic";
  src: url('../assets/fonts/segoe_ui/segoe_ui_italic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "SegoeSemibold";
  src: url('../assets/fonts/segoe_ui/segoe_ui_semibold.ttf');
  font-weight: semibold;
}
@font-face {
  font-family: "SegoeBoldItalic";
  src: url('../assets/fonts/segoe_ui/segoe_ui_bold_italic.ttf');
  font-weight: bold;
}
/*/////// UNDER 480px //////////*/
@media screen and (max-width: 480px) {
  body {
    font-size: 1.3em;
    font-family: "SegoeRegular", "arial", sans-serif;
    background: #403e3c;
    color: #cbcbcb;
  }
  .container {
    padding-left: .8em;
    padding-right: .8em;
  }
  .container ul {
    list-style: none;
  }
  #accordions ul {
    background-color: #474644;
    /*display: none; */
    /*Appelé direct dans html => fonctionne .. ? */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .sections {
    cursor: pointer;
    border-bottom: solid 1px rgba(142, 142, 142, 0.2);
    padding-bottom: 0.1em;
    padding-top: 0.3em;
  }
  .sectTitles {
    color: #8e8e8e;
    font-family: "SegoeSemibold";
    margin-top: 1.4em;
    margin-bottom: .5em;
  }
  .wn-rights {
    color: #8e8e8e;
    padding-top: 1.6em;
    font-size: .6em;
  }
}
