/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
body {
  font-size: 1.1em;
  font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
  background-color: #f9f9f9;
}
.title-box {
  background-image: url('../assets/patterns/darkarches.png');
  color: white;
  padding: .5em 0 .5em 0;
}
h1 {
  font-family: "Candela", "RobotoMedium", sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}
.main {
  margin-bottom: 40px;
}
.main .breadcrumbs {
  margin-left: 1em;
}
.main .breadcrumbs li {
  font-size: .9em;
  text-transform: capitalize;
  margin: 1em 0 1em 0;
}
.main h2 {
  font-size: 1.5em;
  font-family: "Candela", "RobotoMedium", sans-serif;
}
.main .pres > article {
  margin-bottom: .8em;
  border-bottom: 2px solid lightgrey;
}
.main .strike {
  text-decoration: line-through;
}
.main .story > article {
  margin-top: 1em;
  margin-bottom: 1em;
}
.main .story > article > span {
  margin-top: 2.5em;
  margin-bottom: 2em;
}
.main article > span {
  margin: 1em .5em 1em 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .aside {
    height: 600px;
    margin-bottom: 40px;
  }
  .ad-vertical {
    position: relative;
    margin: 2em 0 0 2.5em;
  }
  .ad-horizontal {
    display: none !important;
  }
}
@media screen and (max-width: 1023px) {
  .ad-vertical {
    display: none !important;
  }
  .ad-horizontal {
    margin-top: 30px;
  }
}
