/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
/*///////// OVER 843px /////////*/
@media screen and (min-width: 871px) {
  #main-header {
    font-size: 1.3em;
    background-color: #f9f9f9;
    max-width: 1920px;
  }
  .container-sm,
  #burger-icon {
    display: none;
  }
  .navbar {
    background-image: url('../assets/patterns/arches.png');
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .navbar ul {
    padding-left: 0;
  }
  .navbar ul li {
    display: inline-block;
    list-style: none;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #403e3c;
  }
  .navbar ul li a:hover {
    color: #2a8ebb;
  }
  .navbar .top-nav {
    padding: 1rem 1rem 0 1.8rem;
  }
  .navbar .top-nav ul {
    float: right;
    margin: 0;
    padding: .7rem .8rem 0 0;
  }
  .navbar .top-nav ul li:nth-child(-n+2) {
    padding-right: 2rem;
  }
  .navbar .top-nav ul li:nth-child(n+3) {
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    font-variant: small-caps;
    font-size: 1.3rem;
    padding: 0 .5rem 0 .5rem;
  }
  .navbar .mid-nav {
    text-align: center;
  }
  .navbar .mid-nav ul li {
    padding: .7rem 1.5rem 4rem 1.5rem;
    margin-top: 1.1rem;
  }
  .navbar .mid-nav ul li:last-child {
    font-family: "Gyosho", "Candela", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .navbar .mid-nav ul li:last-child a {
    text-decoration: none;
    background-color: #cf0202;
    color: white;
    padding: .5rem .8rem .5rem .8rem;
    transition: all 0.4s ease-in;
  }
  .navbar .mid-nav ul li:last-child a:hover {
    transition: all 0.3s ease-in;
    background-color: transparent;
    color: #cf0202;
  }
  .banner-container .banner-sm {
    display: none;
  }
  .banner-container .banner-lg {
    position: relative;
    margin-top: -4rem;
    width: 100%;
  }
}
