/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
/*/////// UNDER 630px //////////*/
@media screen and (max-width: 630px) {
  #main-header {
    font-size: 1.3em;
    background-color: #f9f9f9;
  }
  .navbar {
    background-image: url('../assets/patterns/arches.png');
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .navbar .nav-icons {
    padding: .8rem 0 0 .8rem;
  }
  .navbar .nav-icons .vh-icon {
    width: 40px;
  }
  .navbar .nav-icons #burger-icon {
    float: right;
    padding: .6rem .8rem 0 0;
  }
  .navbar ul {
    padding-left: 0;
  }
  .navbar ul li {
    display: inline-block;
    list-style: none;
  }
  .navbar ul li :hover {
    color: #2a8ebb;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #403e3c;
  }
  .navbar .log {
    text-align: center;
  }
  .navbar .log ul {
    margin: .5rem 0 1.3rem 0;
  }
  .navbar .log ul li {
    padding: 0 .8rem 0 .8rem;
  }
  .navbar .log ul li a {
    padding: .2rem .1rem .2rem .1rem;
  }
  .navbar .lang {
    text-align: center;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    font-variant: small-caps;
  }
  .navbar .lang ul {
    margin: 0;
    padding-bottom: 1.4rem;
  }
  .navbar .lang ul li:first-child {
    margin-right: 1rem;
    margin-left: .8rem;
  }
  .navbar .lang ul li a {
    padding: .3rem 1rem .5rem 1rem;
  }
  .navbar .burger-menu {
    display: none;
    background-color: #f9f9f9;
    border-top: 0.2rem solid #403e3c;
  }
  .navbar .burger-menu .inside-burger {
    text-align: center;
    margin: 0;
    padding: .5rem 0 .5rem 0;
  }
  .navbar .burger-menu .inside-burger li {
    display: block;
    line-height: 3.5rem;
  }
  .navbar .burger-menu .inside-burger li:last-child {
    padding-bottom: .8rem;
  }
  .navbar .container-md-lg {
    display: none;
  }
  .banner-container .banner-lg {
    display: none;
  }
  .banner-container .banner-sm {
    position: relative;
    margin-top: -1.7rem;
    width: 100%;
  }
}
