/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
@font-face {
  font-family: "CandelaBold";
  src: url('../assets/fonts/candela/CandelaBold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "CandelaItalic";
  src: url('../assets/fonts/candela/CandelaItalic.otf');
  font-weight: italic;
}
/* ZIN HENA BOKURYU */
@font-face {
  font-family: "ZinHena";
  src: url('../assets/fonts/zinhenaboku/ZinHenaBokuryu-CRF.otf'), url('../assets/fonts/zinhenaboku/ZinHenaBokuryu-CRF.ttf');
  font-weight: normal;
}
/* SEGOE UI */
@font-face {
  font-family: "SegoeRegular";
  src: url('../assets/fonts/segoe_ui/segoe_ui_regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "SegoeLight";
  src: url('../assets/fonts/segoe_ui/segoe_ui_light.ttf');
  font-weight: light;
}
@font-face {
  font-family: "SegoeBold";
  src: url('../assets/fonts/segoe_ui/segoe_ui_bold.ttf'), url('../assets/fonts/segoe_ui/segoe_ui_bold.eot'), url('../assets/fonts/segoe_ui/segoe_ui_bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: "SegoeItalic";
  src: url('../assets/fonts/segoe_ui/segoe_ui_italic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "SegoeSemibold";
  src: url('../assets/fonts/segoe_ui/segoe_ui_semibold.ttf');
  font-weight: semibold;
}
@font-face {
  font-family: "SegoeBoldItalic";
  src: url('../assets/fonts/segoe_ui/segoe_ui_bold_italic.ttf');
  font-weight: bold;
}
/* FORTE */
@font-face {
  font-family: "Forte";
  src: url('../assets/fonts/forte/FORTE.TTF');
  font-weight: normal;
}
body {
  font-size: 1.1em;
  font-family: "SegoeRegular", sans-serif;
  background-color: #f9f9f9;
}
.title-box {
  background-image: url('../assets/patterns/arches.png');
  padding: .5em 0 .5em 0;
}
h1 {
  font-family: "Candela", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0;
}
.main {
  padding-top: 2em;
  padding-bottom: 2em;
}
.main h2 {
  font-size: 1.9em;
  font-family: "Candela", sans-serif;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}
.main h3 {
  font-size: 1.3em;
  font-family: "Candela", sans-serif;
  color: #555;
}
.main .presentation-bloc {
  font-size: 1.4em;
  color: #2a8ebb;
}
.main .presentation-bloc .buttons {
  min-width: 230px;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
  margin-top: 1.5em;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 5%;
  padding: .5em;
  background-color: #403e3c;
  transition: box-shadow 0.7s ease;
}
.main .presentation-bloc .buttons > a {
  color: lightgrey;
  font-family: "ZinHena";
  font-size: 1.1em;
  padding: .5em;
  transition: color 0.2s ease-in-out;
}
.main .presentation-bloc .buttons > a:hover {
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  color: #fff;
}
.main .presentation-bloc .buttons > a:active {
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  color: #fff;
}
.main .presentation-bloc .forte {
  font-family: "Forte", sans-serif;
  letter-spacing: 2px;
}
.main .presentation-bloc .bluehov {
  -webkit-box-shadow: inset 0 0rem #a9c627;
  box-shadow: inset 0 0rem #a9c627;
}
.main .presentation-bloc .bluehov:hover {
  box-shadow: inset 25rem 0rem #2a8ebb;
}
.main .presentation-bloc .bluehov:active {
  background-color: #2a8ebb;
}
.main .articles > div {
  width: 44.5%;
  float: left;
  margin: 1.2%;
  padding: 1em;
  background-color: #f2f2f2;
}
.main .articles img {
  margin-bottom: .6em;
  margin-top: .3em;
  width: 100%;
}
.main .ad-vertical {
  margin: 2em 0.8em 2em -1em;
}
.main .ad-horizontal {
  display: none !important;
}
@media screen and (max-width: 1025px) {
  .main .ad-vertical {
    display: none !important;
  }
  .main .ad-horizontal {
    display: inline-block !important;
    margin-bottom: 0.7em;
  }
}
@media screen and (max-width: 620px) {
  .main .articles > div {
    width: 100%;
    background-color: #ECECEC;
    margin-bottom: 1.5em;
  }
}
