/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 9998;
}
.title {
  font-family: 'Candela', sans-serif;
  font-size: 1.8em;
}
.popup {
  display: none;
  position: absolute;
  font-family: "RobotoLight", sans-serif;
  top: 100px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 50px 30px;
  background-image: url('../assets/patterns/arches.png');
  color: #333;
  font-size: 19px;
  line-height: 30px;
  border-radius: 10px;
  z-index: 9999;
}
.popup-mobile {
  position: relative;
  top: 0;
  left: 0;
  margin: 30px 0 0;
  width: 100%;
}
.popup-btn-close {
  position: absolute;
  top: 8px;
  right: 14px;
  color: #333;
  font-size: 22px;
  font-family: 'SegoeBold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
