/* CANDELA */
@font-face {
  font-family: "Candela";
  src: url('../assets/fonts/candela/CandelaBook.otf');
  font-weight: normal;
}
/* GYOSHO */
@font-face {
  font-family: "Gyosho";
  src: url('../assets/fonts/gyosho/Gyosho.ttf');
  font-weight: normal;
}
/* ROBOTO 2014 */
@font-face {
  font-family: "RobotoLight";
  src: url('../assets/fonts/roboto-2014/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoMedium";
  src: url('../assets/fonts/roboto-2014/Roboto-Medium.ttf');
}
/* UNDER 740 */
@media screen and (max-width: 740px) {
  body {
    font-size: 1.1em;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    background-color: #f9f9f9;
  }
  .title-box {
    background-image: url('../assets/patterns/darkarches.png');
    color: white;
    padding: .5em 0 .5em 0;
  }
  h1 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
  .main .breadcrumbs li {
    font-size: .9em;
    text-transform: capitalize;
    margin: 1em 0 1em 0;
  }
  .main h2 {
    font-size: 1.5em;
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .main .info {
    font-style: italic;
    color: grey;
  }
  .main .form-head {
    text-align: center;
    background-image: url('../assets/patterns/darkarches.png');
    width: 90%;
    margin: auto;
    margin-top: 3em;
    padding: .5em;
    font-size: 1.2em;
    color: #f4f4f4;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }
  .main form {
    background-color: #ECECEC;
    padding: 2em;
    width: 90%;
    margin: auto;
    margin-bottom: 3em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
  }
  .main form input {
    border-radius: .6em;
    margin-bottom: 1.6em;
    padding-left: 3em;
  }
  .main form input:focus {
    border: 1px solid rgba(238, 130, 14, 0.8);
  }
  .main form .user {
    background-image: url('../assets/icons/form/user.png');
    background-repeat: no-repeat;
    background-position: 12px;
  }
  .main form .user:focus {
    background-image: url('../assets/icons/form/user-foc.png');
    background-repeat: no-repeat;
    background-position: 12px;
    transition: background-image 0.2s ease;
  }
  .main form .pwd {
    background-image: url('../assets/icons/form/lock.png');
    background-repeat: no-repeat;
    background-position: 12px;
  }
  .main form .pwd:focus {
    background-image: url('../assets/icons/form/lock-foc.png');
    background-repeat: no-repeat;
    background-position: 12px;
    transition: background-image 0.2s ease;
  }
  .main form .mail {
    background-image: url('../assets/icons/form/mail.png');
    background-repeat: no-repeat;
    background-position: 9px;
  }
  .main form .mail:focus {
    background-image: url('../assets/icons/form/mail-foc.png');
    background-repeat: no-repeat;
    background-position: 9px;
    transition: background-image 0.2s ease;
  }
  .main form .gndr {
    padding-left: 12px;
  }
  .main form .radio {
    padding-right: 1em;
  }
  .main form button {
    display: block;
    margin: auto;
    margin-top: 1.5em;
    padding: .8em;
    border-radius: em;
    background-color: #403e3c;
    color: #f4f4f4;
    transition: border-radius 0.5s ease, background-color 0.5s ease;
  }
  .main form button:hover {
    border-radius: .6em;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
    background-color: #ee820e;
  }
}
@media screen and (max-width: 1023px) {
  .ad-vertical {
    display: none !important;
  }
  .ad-horizontal {
    margin-bottom: 20px;
  }
}
/* RADIO BUTTON FIX*/
@media screen and (max-width: 368px) {
  .radio {
    position: relative;
    left: 1.1em;
  }
  .radiobr {
    position: relative;
    margin-left: 3.8em;
  }
  .rc-anchor,
  .rc-anchor-normal {
    width: 70px;
  }
}
@media screen and (min-width: 741px) {
  body {
    font-size: 1.1em;
    font-family: "RobotoLight", "Segoe UI", "Helvetica", sans-serif;
    background-color: #f9f9f9;
  }
  .title-box {
    background-image: url('../assets/patterns/darkarches.png');
    color: white;
    padding: .5em 0 .5em 0;
  }
  h1 {
    font-family: "Candela", "RobotoMedium", sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
  .main .breadcrumbs li {
    font-size: .9em;
    text-transform: capitalize;
    margin: 1em 0 1em 0;
  }
  .main h2 {
    font-size: 1.5em;
    font-family: "Candela", "RobotoMedium", sans-serif;
  }
  .main .info {
    font-style: italic;
    color: grey;
  }
  .main .form-head {
    text-align: center;
    background-image: url('../assets/patterns/darkarches.png');
    width: 70%;
    margin: auto;
    margin-top: 3em;
    padding: .5em;
    font-size: 1.2em;
    color: #f4f4f4;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }
  .main form {
    background-color: #ECECEC;
    padding: 2em 4em 2em 4em;
    width: 70%;
    min-width: 55%;
    margin: auto;
    margin-bottom: 3em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
  }
  .main form input {
    border-radius: .6em;
    margin-bottom: 1.6em;
    padding-left: 3em;
  }
  .main form input:focus {
    border: 1px solid rgba(238, 130, 14, 0.8);
  }
  .main form .user {
    background-image: url('../assets/icons/form/user.png');
    background-repeat: no-repeat;
    background-position: 12px;
  }
  .main form .user:focus {
    background-image: url('../assets/icons/form/user-foc.png');
    background-repeat: no-repeat;
    background-position: 12px;
    transition: background-image 0.2s ease;
  }
  .main form .pwd {
    background-image: url('../assets/icons/form/lock.png');
    background-repeat: no-repeat;
    background-position: 12px;
  }
  .main form .pwd:focus {
    background-image: url('../assets/icons/form/lock-foc.png');
    background-repeat: no-repeat;
    background-position: 12px;
    transition: background-image 0.2s ease;
  }
  .main form .mail {
    background-image: url('../assets/icons/form/mail.png');
    background-repeat: no-repeat;
    background-position: 9px;
  }
  .main form .mail:focus {
    background-image: url('../assets/icons/form/mail-foc.png');
    background-repeat: no-repeat;
    background-position: 9px;
    transition: background-image 0.2s ease;
  }
  .main form .gndr {
    padding-left: 12px;
  }
  .main form .radio {
    padding-right: 1em;
  }
  .main form button {
    display: block;
    margin: auto;
    margin-top: 1.6em;
    padding: .8em;
    border-radius: em;
    background-color: #403e3c;
    color: #f4f4f4;
    transition: border-radius 0.5s ease, background-color 0.5s ease;
  }
  .main form button:hover {
    border-radius: .6em;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
    background-color: #ee820e;
  }
}
@media screen and (min-width: 1024px) {
  .aside {
    height: 600px;
    margin-bottom: 40px;
  }
  .ad-vertical {
    position: relative;
  }
  .ad-horizontal {
    display: none !important;
    margin-bottom: 20px;
  }
}
