/*@import "_library";

@media screen (min-width: 560px) and (max-width: 900px) {

	body{
		font-size: 1.1em;
		font-family: "SegoeRegular", sans-serif;
		background-color: @bckgd;
	}

	.title-box{
		background-image: @arches;
		padding: .5em 0 .5em 0;
	}

	h1{
		font-family: "Candela", sans-serif;
		font-size: 2em;
		text-align: center;
		margin: 0;
	}

	.main{
		.breadcrumbs{
			li{
				font-size: .9em;
				text-transform: capitalize;
				margin: 1em 0 1em 0;
			}
		}

		h2{
			font-size: 1.5em;
			font-family: "Candela", sans-serif;
		}

		.info{
			font-style: italic;
			color: grey;
		}

		.form-head{
			text-align: center;
			background-image: @darkarches;
			width: 70%;
			margin: auto;
			margin-top: 3em;
			padding: .5em;
			font-size: 1.2em;
			color: @whiteTxt;
			border-top-left-radius: .5em;
			border-top-right-radius: .5em;
		}

		form{
			background-color: @lightgrey;
			padding: 2em;
			width: 70%;
			margin: auto;
			margin-bottom: 3em;
			border-bottom-left-radius: .5em;
			border-bottom-right-radius: .5em;

			input{
				border-radius: .6em;
				margin-bottom: 1.6em;
			}

			input[type="radio"]{
				display: ;
			}
		
			.radio{
				padding-right: 1em;
			}

			button{
				display: block;
				margin: auto;
				margin-top: 1em;
				padding: .8em;
				border-radius: em;
				background-color: @coalgrey;
				color: @whiteTxt;
				transition: all .3s ease;
				&:hover, :focus{
					border-radius: .6em;
					transition: all .4s ease;
					background-color: @orange;
				}
			}
		}
	}
}*/
