@import "_library";

@media screen and (max-width: 455px) {

body{
	font-size: 1.1em;
	font-family: "SegoeRegular", sans-serif;
	background-color: @bckgd;
}

.title-box{
	background-image: @bloodarches;
	padding: .5em 0 .5em 0;
}

h1{
	font-family: "Candela", sans-serif;
	font-size: 1.8em;
	text-align: center;
	margin: 0;
}

.main{
	.breadcrumbs{
		li{
			font-size: .9em;
			text-transform: capitalize;
			margin: 1em 0 1em 0;
			}
	}

	h2{
		font-size: 1.5em;
		font-family: "Candela", sans-serif;
	}

	h3{
		font-family: "Candela", sans-serif;
		font-size: 1.3em;
		padding-bottom: .8em;
	}

	.steps{
		width: 100%;
		background-color: @lightgrey;
		padding: 1.2em;
		border-radius: .8em;
		margin-bottom: 4em;
		&>p{
			display: inline;
			padding-left: 0.6em;
		}
	}

	.num-circles{
		width: 35px;
		height: 35px;
		border-radius: 35px;
		background-color: @coalgrey;
		text-align: center;
		padding-top: 4px;
		color: @whiteTxt;
		display: inline-block;
	}

	.dl-btn{
		background-color: @green;
		width: 100%;
		border-radius: .5em;
		padding-top: 10px;
		margin-bottom: 1em;

		p:first-of-type{
			margin-top: 0.5em;
			text-transform: uppercase;
			color: @whiteTxt;
			font-family: "SegoeSemibold", sans-serif;
		}

		p:nth-of-type(2){
			margin-top: -0.8em;
		}
	}

		.floating{
    		-webkit-animation-name: Floating;
    		-webkit-animation-duration: .7s;
    		-webkit-animation-iteration-count: infinite;
    		-webkit-animation-timing-function: linear;
		}

		@-webkit-keyframes Floating{
    		from {-webkit-transform:translate(0, 0px);}
    		65% {-webkit-transform:translate(0, 8px);}
    		to {-webkit-transform: translate(0, -0px);    }    
		}

		.dl-btn-vsn{
			display: block;
			background-color: #D1D1D1;
			width: 100%;
			border-radius: .5em;
			text-align: center;	
			padding-top: .8em;
		}

		#dl-versions{
			text-align: left;
			margin: 0 10% 1em 20%;
			padding-bottom: .8em;
			li{
				list-style: none;
				img{
					margin-bottom: .4em;
				}
				a{
					padding-left: .5em;
					color: @blue;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}	
}

@media screen and (max-width: 1023px){
	.ad-vertical{
		display: none !important;
	}

	.ad-horizontal{
		margin-top: 30px;
		margin-bottom: 20px;
	}
}


