@import "_library";

/*/////// UNDER 480px //////////*/
@media screen and (max-width: 480px) {
	body{
		font-size: 1.4em;
		background-color: @bckgd;
	}

	.vh-links{
		ul{
			li{
				.right{
					float: right;
					width: 0.9rem;
					margin-top: 0.4rem;
				}
			}
		}
	}

	#accordions{
		ul{
			display: none; 
		}
	}
}	