ul.bjqs-controls.v-centered li:nth-child(1) a{
	display:block;
	text-decoration: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 33.2px 25px 0;
	border-color: transparent #f4f4f4 transparent transparent;
	margin-left: 10px;
}

ul.bjqs-controls.v-centered li:nth-child(1) a:hover{
	border-color: transparent #403e3c transparent transparent;
}

ul.bjqs-controls.v-centered li:nth-child(2) a{
	display:block;
	text-decoration: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 33.2px;
	border-color: transparent transparent transparent #f4f4f4;
	margin-right: 10px;
}

ul.bjqs-controls.v-centered li:nth-child(2) a:hover{
	border-color: transparent transparent transparent #403e3c;
}

ol.bjqs-markers li a{
	padding: 8px 8px;
	border-radius: 10px;
	background:#403e3c;
	color:#fff;
	margin: 10px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: lightgrey;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

@media screen and (min-width: 440px) and (max-width: 550px) {
	ul.bjqs-controls.v-centered li a{
		margin-top: 45px;
	}
	ol.bjqs-markers li a{
		padding: 9px 9px;
		border-radius: 10px;
		margin: 12px;
	}
}

@media screen and (max-width: 439px) {
	ul.bjqs-controls.v-centered li:nth-child(1) a{
		border-width: 20px 33.2px 20px 0;
	}
	ul.bjqs-controls.v-centered li:nth-child(2) a{
		border-width: 20px 0 20px 33.2px;
	}
	ul.bjqs-controls.v-centered li a{
		margin-top: 40px;
	}
	ol.bjqs-markers li a{
		padding: 10px 10px;
		border-radius: 10px;
		margin: 15px;
	}
}